@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(73, 2, 73);
    /* border: 1px solid red; */
    font-family: 'Hammersmith One', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
        
    width: 100%;
    height: 100vh;
}

/* ------------------------------leftside---------------------------------------------- */
.left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    
}

.welcome {
    width: 25%;
    height: auto;
    background-color: yellowgreen;
    border: 3px solid black;
    border-radius: 50px;
    text-align: center;
    padding: 1%;
    font-weight: bold;    
    
}

.navbar-up {
    background-image: linear-gradient(to top, yellow, green);
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
    border: 3px solid black;
    border-radius: 20px;
    
}

.navbar-up a {
    background-image: linear-gradient(to top, yellow, green);
    border-right: 3px solid black ;
    color: rgb(73, 2, 73);

    
    text-decoration: none;
    font-size: 180%;
    padding-right: 5%;
    text-align: center;   
}

.navbar-down {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;    
    margin-top: 20px;
    
    font-size: 200%;   
    padding-left: 5%;
    
}

.navbar-hey {
    font-size: 150%;
    color: yellowgreen;
}

.navbar-sq {
    font-size: 300%;
    color: orange;

}

.navbar-web {
    font-size: 150%;
    color: yellowgreen;

}


/* ------------------------------rightside---------------------------------------------- */

/* .right-side {
    background-image: url(img/SQ.jpg);
    background-size: cover;    
    width: 50%;
    background-repeat: no-repeat; 
    position: relative;
    z-index: 2;
    
    
    
}

.logo img {
    position: absolute;
    width: 10%;
    z-index: 1;
} */

.right-side {
    width: 50%;
    
}

.logo img {
    
    position: absolute;
    z-index: 1;

}


.me img {
    position: relative;
    width: 100%;
    max-height:initial;
    
}






/*------------------------------ for mobile---------------------------------------- */
@media (max-width: 360px) {
    header {
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }

    .left-side {
        width: 100%;
        height: 50%;
        
    }
    
    .right-side {
        width: 100%;
        height: 50%;
        
    }

    .welcome {
        width: auto;
        height: auto;
        padding: 2%;
    
    }

    .navbar-up {
       
        width: 100%;
        
        font-size: 60%;
    
        
    }

    .navbar-down {
        width: 100%;
        height: auto;
        font-size: 100%;
        text-align: center;
        padding: 4%;
        
    }

    .navbar-sq {
        font-size: 300%;
        color: orange;
    
    }
    
    .navbar-web {
        font-size: 100%;
        color: yellowgreen;
    
    }

    .logo img {
        width: 20%;
        height: auto;
    }

    
        
        
        
    }



}
